
 /* Importing Google font  NK*/

@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap'); */

/* Applying style to all elements  NK*/
 * {
box-sizing: border-box;
margin: 0;
padding: 0;
} 

/* Styling the body NK*/
body {
  background-image: url('images/1-Einstein-Quiz.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} 


 .centered {
    height: 100vh;
    margin-top: 15vh;
    text-align: center;
} 


.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
} 


/* Styling the welcome element NK*/
 #welcome {
  color: rgb(26, 25, 25);
  font-size: 5rem;
  font-weight: bolder;
  border-style: double;
  background-color:#fcfef7;
  padding: 2rem;
  border-radius: 500em;
}
/* Styling the start quiz button NK*/
#start-quiz-button {
  padding: 1em;
  border-radius: 300px;
  background-color: #fcfef7;
  font-size: medium;
  font-weight: bold;
  color: rgb(26, 25, 25);
}
/* Added hover effect for both NK */
/* .classbtn:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    background-color: rgb(164, 217, 234);
  } */
/* Applied same style to the Next Q btn NK */
#next-question-button {
  padding: 1em;
  border-radius: 300px;
  margin: 2rem;
  font-size: medium;
  font-weight: bold;
  background-color: #fcfef7;
}

  .answer-btn{
    width: 400px;
    padding: 1em;
    margin: 4px;
    color: rgb(26, 25, 25);
    font-size: 1rem;
    font-weight: bold;
    border-style: double;
    background-color: #fcfef7;
    border-radius: 500px;
    transition: transform 0.2s ease-in-out 0s;
    

  }
  

h1 {
  text-align: center;
  margin: 2rem;
  background-color: #fcfef7;
  padding: 1em 2em;
  border-radius: 300px;
  margin: 2rem;
 
}


ul {
  list-style: none;
  color: black;
}

#timer {
  font-size: x-large;
  color: lightblue
}

/* .classbtn {
  color: red;
} */



